.mySwiperHorizontal {
  position: relative;
}

.mySwiperHorizontal .swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%);

  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Pasif bullet */
.mySwiperHorizontal .swiper-pagination-bullet {
  background-color: #ed103b;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s;
}

/* Aktif bullet */
.mySwiperHorizontal .swiper-pagination-bullet-active {
  background-color: #333333;
}
