/* @import url("https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-regal-red: #ed103b;
  --color-regal-black: #00143d;
  --color-regal-navy: #01133d;
  --font-sans: "Manrope", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
