@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-regal-red: #ed103b;
  --color-regal-black: #00143d;
  --color-regal-navy: #01133d;
  --font-sans: "Varta", sans-serif;
}

html {
  scroll-behavior: smooth;
}
