@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-regal-red: #ed103b;
  --color-regal-black: #00143d;
  --color-regal-navy: #01133d;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}
